<section id="tendencias">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 franja-negra">
            <div class="float-left">
                <h2 class="titulo-franja">Tendencias</h2>
            </div>
            <div class="float-right">
                <a class="enlace-franja" href="#">Ver todo</a>
            </div>
        </div>
    </div>
    <div class="row pt-15 p-bot-5">
        <div class="col-15">
            <p class="producto-subtitle">Jewelry Filled Wedding Engagement Crystal Ring</p>
            <img class="producto-tendencias" src="assets/images/Rectangle-2.png" alt="">
            <p class="precio pb-35">39,99€ <span>80,00€</span></p>
        </div>
        <div class="col-15 border-l">
            <p class="producto-subtitle">Jewelry Filled Wedding Engagement Crystal Ring</p>
            <img class="producto-tendencias" src="assets/images/Rectangle-2.png" alt="">
            <p class="precio pb-35">39,99€ <span>80,00€</span></p>
        </div>
        <div class="col-15 border-l">
            <p class="producto-subtitle">Jewelry Filled Wedding Engagement Crystal Ring</p>
            <img class="producto-tendencias" src="assets/images/Rectangle-2.png" alt="">
            <p class="precio pb-35">39,99€ <span>80,00€</span></p>
        </div>
        <div class="col-15 border-l">
            <p class="producto-subtitle">Jewelry Filled Wedding Engagement Crystal Ring</p>
            <img class="producto-tendencias" src="assets/images/Rectangle-2.png" alt="">
            <p class="precio pb-35">39,99€ <span>80,00€</span></p>
        </div>
        <div class="col-15 border-l">
            <p class="producto-subtitle">Jewelry Filled Wedding Engagement Crystal Ring</p>
            <img class="producto-tendencias" src="assets/images/Rectangle-2.png" alt="">
            <p class="precio pb-35">39,99€ <span>80,00€</span></p>
        </div>
    </div>
</section>
