<footer>
    <div class="row p-150">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <img class="icon1" src="assets/images/Rectangle-11.png" alt="">
            <h5 class="title-columns first">Free Delivery</h5>
            <p class="text-columns">Free shipping throughout Europe and the US</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-l-white">
            <img class="icon2" src="assets/images/Rectangle-10.png" alt="">
            <h5 class="title-columns">Safe Payment</h5>
            <p class="text-columns">Pay with the world’s most popular and secure payment methods.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-l-white">
            <img class="icon3" src="assets/images/Rectangle-9.png" alt="">
            <h5 class="title-columns">24/7 Help Center</h5>
            <p class="text-columns">Round-the-clock assistance for a smooth shopping experience.</p>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 border-l-white">
            <img class="icon4" src="assets/images/Rectangle-8.png" alt="">
            <h5 class="title-columns">30 Days Return</h5>
            <p class="text-columns">30 days return policy if you’re not satisfied with products & services</p>
        </div>
    </div>

    <div class="row p-150 mt-45">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <h6 class="title-columns">Información</h6>
            <ul class="listas-footer">
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contactanos</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <h6 class="title-columns">Customer Service</h6>
            <ul class="listas-footer">
                <li><a href="#">FAQ’s</a></li>
                <li><a href="#">Garantia</a></li>
                <li><a href="#">Pedidos y devoluciones</a></li>
                <li><a href="#">Envios</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <h6 class="title-columns">Mi cuenta</h6>
            <ul class="listas-footer">
                <li><a href="#">Login/Registro</a></li>
                <li><a href="#">Estatus pedido</a></li>
                <li><a href="#">Métodos de pago</a></li>
                <li><a href="#">Vouchers</a></li>
                <li><a href="#">Specials</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <h6 class="title-columns">Newsletter</h6>
            <p class="text-newsletter">Registrate para recibir ofertas y novedades</p>
            <button type="button" class="btn boton-naranja">Subscribete</button>
            <h6 class="title-columns mt-20">Stay Connected</h6>
            <img class="redes" src="assets/images/image-1.png" alt="">
        </div>
    </div>

    <div class="row pt-22 mt-45">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="lista-copy">
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Advanced Search</a></li>
                <li><a href="#">Site Map</a></li>
                <li><a href="#">Information</a></li>
            </ul>
        </div>
    </div>
    <div class="row pt-22 mt-05">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="lista-copy2">
                <li>Copyright © 2020</li>
                <li>Mediterraneamente</li>
            </ul>
        </div>
    </div>
    <div class="row mt-75">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ul class="lista-copy3">
                <li>HOT KEYWORDS:</li>
                <li>iPhone X</li>
                <li>Tablet iPad 3</li>
                <li>MP3 Player</li>
                <li>Iphoneo 7 Plus</li>
                <li>Lady Sexy</li>
                <li>Women's Shoe</li>
                <li>Backpacks</li>
                <li>Samsung Galaxy Note 8</li>
                <li>Sonyo TV</li>
                <li>Samsing TV</li>
                <li>LGG TV</li>
                <li>Toshibao TV</li>
                <li>Philipsi TV</li>
                <li>Micromaxo TV</li>
                <li>LED TV</li>
                <li>LCD TV</li>
                <li>Plasma TV</li>
                <li>3D TV</li>
                <li>Smart TV</li>
                <li>Oled TV 6k</li>
                <li>Samsung Galaxy Note 8</li>
                <li>Samsung</li>
                <li>Galaxy S8+</li>
                <li>iPhone 8</li>
                <li>iPhone 8 Plus</li>
                <li>Google Pixel S</li>
                <li>Soby XZ3</li>
                <li>LG V30</li>
                <li>Oppo X5</li>
                <li>Optimus V3</li>
                <li>BBZ30</li>
                <li>Macbook Pro 2017</li>
                <li>Macbook Retina 3k</li>
                <li>iMac 4k</li>
                <li>Sony Vaio Z3</li>
                <li>LG Optimus</li>
                <li>Sony Vaio Z10</li>
                <li>Asus Pro 500</li>
                <li>Lenovo Pro 8x</li>
                <li>HP Probook</li>
                <li>Dell M2</li>
                <li>Acer V6</li>
                <li>Apple iWatch Series 1</li>
                <li>Apple iWatch Series 2</li>
                <li>Shoes</li>
                <li>Sony Vaio Z10</li>
                <li>Gas Shoes</li>
                <li>Puma Shoes</li>
                <li>Reebok Shoes</li>
                <li>Woodland Shoes</li>
                <li>Red tape Shoes</li>
                <li>Nike Shoes</li>
            </ul>
        </div>
    </div>
</footer>
