<section id="promo2">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 imagen-promo2 bañador">
            <a class="enlace1" href="#">
                <h2 class="titulo-promo2 pt-15 amarillo position1">Bañadores</h2>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 imagen-promo2 vestidos">
                    <a class="enlace2" href="#">
                        <h2 class="titulo-promo2 pt-15 negro position2">Vestidos</h2>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 imagen-promo2 bolsos">
                    <a class="enlace3" href="#">
                        <h2 class="titulo-promo2 pt-15 verde position2">Bolsos</h2>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 imagen-promo2 pantalones">
            <a class="enlace1" href="#">
                <h2 class="titulo-promo2 marron position3">Pantalones cortos
                </h2>
            </a>
        </div>
        <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 imagen-promo2 shorts">
            <a class="enlace1" href="#">
                <h2 class="titulo-promo2 pt-15 verde position1">Shorts</h2>
            </a>
        </div>
    </div>
</section>
