<section id="shop-categories">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 franja-negra">
            <div class="float-left">
                <h2 class="titulo-franja">Busca por categoria</h2>
            </div>
        </div>
    </div>

    <div class="row pt-20 p-bot-5">
        <div class="col-15">
            <h3 class="titulo-busca-categories">Moda mujer</h3>
            <img class="producto-categories img1" src="assets/images/Rectangle-7.png" alt="">
            <p class="producto-subtitle-categorie">Vestidos</p>
            <p class="producto-subtitle-categorie">Vestidos</p>
            <p class="producto-subtitle-categorie">Vestidos</p>
            <p class="producto-subtitle-categorie">Vestidos</p>
            <p class="producto-subtitle-categorie">Vestidos</p>
            <p class="producto-subtitle-categorie">Vestidos</p>
            <p class="producto-subtitle-categorie">Vestidos</p>
            <p class="producto-subtitle-categorie">Vestidos</p>
        </div>
        <div class="col-15">
            <h3 class="titulo-busca-categories">Accesorios</h3>
            <img class="producto-categories img2" src="assets/images/Rectangle-6.png" alt="">
            <p class="producto-subtitle-categorie">Bolsos</p>
            <p class="producto-subtitle-categorie">Bolsos</p>
            <p class="producto-subtitle-categorie">Bolsos</p>
            <p class="producto-subtitle-categorie">Bolsos</p>
            <p class="producto-subtitle-categorie">Bolsos</p>
            <p class="producto-subtitle-categorie">Bolsos</p>
            <p class="producto-subtitle-categorie">Bolsos</p>
            <p class="producto-subtitle-categorie">Bolsos</p>
        </div>
        <div class="col-15">
            <h3 class="titulo-busca-categories">Calzado</h3>
            <img class="producto-categories img3" src="assets/images/Rectangle-5.png" alt="">
            <p class="producto-subtitle-categorie">Sandalias</p>
            <p class="producto-subtitle-categorie">Sandalias</p>
            <p class="producto-subtitle-categorie">Sandalias</p>
            <p class="producto-subtitle-categorie">Sandalias</p>
            <p class="producto-subtitle-categorie">Sandalias</p>
            <p class="producto-subtitle-categorie">Sandalias</p>
            <p class="producto-subtitle-categorie">Sandalias</p>
        </div>
        <div class="col-15">
            <h3 class="titulo-busca-categories">Moda hombre</h3>
            <img class="producto-categories img4" src="assets/images/Rectangle-4.png" alt="">
            <p class="producto-subtitle-categorie">Camisas</p>
            <p class="producto-subtitle-categorie">Camisas</p>
            <p class="producto-subtitle-categorie">Camisas</p>
            <p class="producto-subtitle-categorie">Camisas</p>
            <p class="producto-subtitle-categorie">Camisas</p>
            <p class="producto-subtitle-categorie">Camisas</p>
            <p class="producto-subtitle-categorie">Camisas</p>
            <p class="producto-subtitle-categorie">Camisas</p>
        </div>
        <div class="col-15">
            <h3 class="titulo-busca-categories">Niños</h3>
            <img class="producto-categories img2" src="assets/images/Rectangle-3.png" alt="">
            <p class="producto-subtitle-categorie">Bodies</p>
            <p class="producto-subtitle-categorie">Bodies</p>
            <p class="producto-subtitle-categorie">Bodies</p>
            <p class="producto-subtitle-categorie">Bodies</p>
            <p class="producto-subtitle-categorie">Bodies</p>
            <p class="producto-subtitle-categorie">Bodies</p>
            <p class="producto-subtitle-categorie">Bodies</p>
            <p class="producto-subtitle-categorie">Bodies</p>
        </div>
    </div>
</section>
